<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ get_url(path="css/style.css", trailing_slash=false) }}" />
  <link rel="stylesheet" href="{{ get_url(path="css/objktv.css", trailing_slash=false) }}" />
  <title>{{ config.title }}</title>
</head>