<header id="site-header">
  <div class="container">
    <div class="row align-center justify-between">
      <div class="nav-logo">
        <img src="/images/logos/svg/rog-logo.svg">
        <div class="logo-text">
          <p>Linux for ROG</p>
          <p>Notebooks</p>
        </div>
      </div>
      <div class="nav-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="nav-links">
        {% if config.extra.nav_header %}
          <ul class="nav-menu">
            {% for navlink in config.extra.nav_header %}
              <li><a href="{{ navlink.url | safe }}" {% if navlink.new_tab %}target="_blank" rel="noreferrer noopener"{% endif %}>{{ navlink.name }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </nav>
    </div>
  </div>
</header>