<section class="hero homepage">
  <div class="hero-bg homepage"></div>
  <article class="hero-content row container">
    <div class="hero-text col-7">
      <h2>Potential. Unleashed.</h2>
      <p>Ultimate choice! The freedom of running Linux on your laptop no longer needs to be a compromise! With our
        powerful system tools, you can enjoy all the power and unique features of your Asus ROG laptop - without
        resorting to Windows. Experience ROG the way it was meant to be.</p>
    </div>
    <div class="hero-device col-5">
      <img src="images/index/strix-g17.png" alt="">
    </div>
    <div class="hero-news">
      <h3>Latest Releases</h3>
      <p class="news-title"><a href="https://gitlab.com/asus-linux/asusctl/-/releases/5.0.6">asusctl - 5.0.6</a></p>
      <p class="news-title"><a href="https://gitlab.com/asus-linux/supergfxctl/-/releases/5.1.2">supergfxctl - 5.1.2</a></p>
    </div>
  </article>
</section>